<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
 <appender name="console" class="org.apache.log4j.ConsoleAppender">

   <layout class="org.apache.log4j.PatternLayout">

   </layout>
 </appender>
 <appender name="logfile" class="org.apache.log4j.FileAppender">
   <layout class="org.apache.log4j.PatternLayout">

   </layout>
 </appender>
 <!-- ALL | DEBUG | INFO | WARN | ERROR | FATAL | OFF
 <root>
   <priority value ="warn" />
   <appender-ref ref="console" />
   <appender-ref ref="logfile" />
 </root>-->
 <logger name="org.apache.fop">
   <level value="warn"/>
   <appender-ref ref="console" />
 </logger>
 <logger name="FOP">
   <level value="warn"/>
   <appender-ref ref="console" />
 </logger>
 <logger name="org.apache.xmlgraphics">
  <level value="warn"/>
  <appender-ref ref="console" />
 </logger>
</log4j:configuration>
