
                <html >

                    
                <head >

                    
                <title >

                    Test
                </title>
            
 
                <script  src="semantic/semantic.min.js" >

                    
                </script>
            
 <link rel='stylesheet' href='semantic/semantic.min.css'/>

                </head>
            
 
                <body >

                    
                <h1 >

                    Hello
                </h1>
            

                </body>
            

                </html>
            
