body {
	/*width: 100%;
	margin: 40px;*/
}

footer {
	margin-top:20px;
}

/** SIDE BAR **/

.ui.sidebar {
	background-color: lightgray;
}

.ui.menu.item {
	margin-bottom: 2px !important;
	padding-bottom: 2px !important;
}

/** Sections **/
.section {
	margin-bottom: 20px;
}

/** SVG Stuff **/

/* Hide SVG per default, JS will display when ok */
.odfi.svg {
	visibility: hidden;
}

/* Hide Header Links */
.headerlink {
	display: none;
}

/** Block quotes **/
blockquote {


	
	
}

/** Steps Support **/
.steps .step {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
.steps .step .picture img {
	width: 100%;
}
